*{
    color: white;
}

.row{
    text-align: center;
}

.title{
    border-bottom: 3px solid white;
    font-family: 'Charm', cursive;
    font-size: 100px;

}

.wins, .current-word, .guesses, .letters{
    font-size: 40px;

}


img {
    height: 100%;
    position: fixed;
    width: 100%;
    margin: auto;
    
}

#wins, #display, #guesses, #letters{
    font-size: 40px;

}